spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:/tmp/testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: false #キャッシュ無効化